---
---

@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic,900,900italic");
@import "variables";
@import "typeplate/typeplate";
@import "tables";

h1, h2 {
  text-align: center;
}

blockquote {
  border-left: 3px solid #aaa;
  margin: 0;
  padding-left: 1em;
}

dl {
  margin-top: 0;
  margin-bottom: $typl8-line-height;

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
    @extend .clearfix;
  }

  @media (min-width: 768px) {
    dt {
      float: left;
      width: 20%;
      clear: left;
      text-align: right;
    }

    dd {
      margin-left: 22%;
    }
  }
}

a {
	text-decoration: none;
	color: #0724AB;
	a:visited {
		color: transparent;
	}
	&:hover {
		text-decoration: underline;
	}
}

// Source: http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.container {
  margin: 0 auto;
  padding: 0 10%;
}

.index {
  h1 {
    margin-top: 6rem;
  }

  .header {
    text-align: center;
  }
}

.pager {
  text-align: right;
  position: fixed;
  right: 1rem;
  top: 2rem;
}

.index {
  .toc {
    margin: 0 20%;
  }
}

#top {
  position: absolute;
  top: 0;
}
