<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {{ page.title | escape }}
    {% if page.title %}::{% endif %}
    {{ site.title }}
  </title>
  <meta name="author" content="{{ site.author }}">
  {% if page.description %}<meta name=description content="{{ page.description | escape }}">{% endif %}
  <link rel="stylesheet" type="text/css" href="{% if site.baseurl %}{{ site.baseurl }}{% else %}/{% endif %}css/site.css">
</head>
<body>
<a id="top" name="top"></a>

{{ content }}

</body>
</html>
